<!DOCTYPE html>
{% autoescape true %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoリスト 管理画面</title>
</head>
<body>
    <h2>{{ message }}</h2>
    <p><a href="/todo/logout">ログアウト</a></p>

    <h3>未</h3>
    {% for i in data %}
        <div class="todolist">
            {% if i.check == "0" %}
                <p>{{ i.things }}</p>
                <form action="/todo/check/{{ i.id }}" method="POST">
                    <button type="submit">完了</button>
                </form>
                <form action="/todo/delete/{{ i.id }}" method="POST">
                    <button type="submit">削除</button>
                </form>
            {% endif %}
        </div>
    {% endfor %}

    <h3>登録</h3>
    <form action="/todo/add" method="POST">
        <p><input type="text" name="addtodo" size="40"></p>
        <button type="submit">登録</button>
    </form>

    <h3>済</h3>
    {% for i in data %}
        <div>
            {% if i.check == "1" %}
                <p>{{ i.things }}</p>
                <form action="/todo/delete/{{ i.id }}" method="POST">
                    <button type="submit">削除</button>
                </form>
            {% endif %}
        </div>
    {% endfor %}

</body>
</html>
{% endautoescape %}